body{
  margin: 0%;
}
.nav-wrapper{
  display: flex;
  justify-content: space-between;
  background-color: bisque;
}
.nav-wrapper ul{
  list-style-type: none;
  display: flex;
}
.nav-wrapper ul li{
  margin: 6px;
}
.d-flex {
  display: flex;
  gap: 10px;
}